{% extends "./page.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set formData = applicant if dataObjectName == 'applicant' else (secondParent if dataObjectName == 'secondParent' else crm) %}

{% block backlink %}

{{ govukBackLink({
  href: previous,
  text: backLinkText
}) }}

{% endblock %}

{% block content %}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: errorTitleText,
      errorList: errors | toErrorList
    }) }}
  {% endif %}

  {% block preambleContent %}{% endblock %}

  <form id="form" method="post" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% if sectionTitle %}
      <span class="govuk-caption-l">{{ sectionTitle }}</span>
    {% endif %}
    
    {% block formContent %}{% endblock %}

  </form>

{% endblock %}