{% from "govuk/components/header/macro.njk"        import govukHeader %}
{% from "govuk/components/footer/macro.njk"        import govukFooter %}
{% from "govuk/components/skip-link/macro.njk"     import govukSkipLink %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "macros/footer.njk"                        import footer %}

<!DOCTYPE html>
<html lang="{{ htmlLang | default('en') }}" class="govuk-template {{ htmlClasses }}">
  <head>
    <meta charset="utf-8">
    <title>
      {{ 'Error: ' if errors else '' }}{{ title | default('Baby Loss Certificate') }} - Request a baby loss certificate - GOV.UK
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="{{ themeColor | default('#0b0c0c') }}"> {# hardcoded value of $govuk-black #}
    <meta property="csp-nonce" content="{{ scriptNonce }}">
    <meta name="path" content="{{ contextPath }}" />

    <link href="{{ assetPath }}/assets/styles/all.css" rel="stylesheet">

    <link rel="icon" sizes="48x48" href="/assets/images/favicon.ico">
    <link rel="icon" sizes="any" href="/assets/images/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/assets/images/govuk-icon-mask.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" href="/assets/images/govuk-icon-180.png">
    <link rel="manifest" href="/assets/manifest.json">

    {% block head %}{% endblock %}
  </head>
  <body class="govuk-template__body {{ bodyClasses }}">
    <script nonce="{{ scriptNonce }}">document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
    {% if not hideCookieBanner %}
      <div id="cookieBannerSection"></div>
    {% endif %}

    {{ govukSkipLink({
      text: skipLink,
      href: "#maincontent"
    }) }}
    
    {% block header %}
      {{ govukHeader({
        homepageUrl: "https://www.gov.uk/"
      }) }}
    {% endblock %}

    {% block main %}

      <div class="govuk-width-container {{ containerClasses }}">
        {% block beforeContent %}
        {% if not isUserBackOffice %}
            {{ govukPhaseBanner({
              tag: {
                text: "Beta"
              },
              html: 'This is a new service – your <a class="govuk-link govuk-link--no-visited-state" href="{% if isSecondParentJourney %} https://online1.snapsurveys.com/interview/ef283ec5-3d39-4daf-af0c-bebe42cde33e {% else %} https://online1.snapsurveys.com/interview/9d0696c0-7f71-4988-8c63-dba54b58e3ef {% endif %}" target="_blank">feedback</a> will help us to improve it.'
            }) }}
        {% else %}
            {{ govukPhaseBanner({
              tag: {
                text: "Beta"
              },
              html: 'This is a new service – your feedback your will help us to improve it.'
            }) }}
        {% endif %}
        {% block backlink %}{% endblock %}
        {% endblock %}

        <main class="govuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
          <div class="govuk-grid-row">
            
      <div class="{{ 'govuk-grid-column-full' if useFullScreen else 'govuk-grid-column-two-thirds' }}">
              {% block content %}{% endblock %}
            </div>
          </div>
        </main>

      </div>

    {% endblock %}

    {% block footer %}
      {{ footer({
        items: footerLinks
      }) }}
    {% endblock %}

    {% block bodyEnd %}

    <script nonce="{{ scriptNonce }}" type="module" src="{{ assetPath }}/assets/govuk-frontend.min.js"></script>
    <script nonce="{{ scriptNonce }}" type="module">
      import { initAll } from '{{ assetPath }}/assets/govuk-frontend.min.js'
      initAll()
    </script>

    <!-- Google tag (gtag.js) -->
    <script nonce="{{ scriptNonce }}">
       function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) === ' ') c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
      }
      
      var cookieConsent = getCookie("cookieConsent");
      window['ga-disable-{{gaTrackingId}}'] = cookieConsent !== 'true';
    </script>
    <script nonce="{{ scriptNonce }}" async src="https://www.googletagmanager.com/gtag/js?id={{ gaTrackingId }}"></script>
    <script nonce="{{ scriptNonce }}">
      window.dataLayer = window.dataLayer || [];
      function gtag(){ dataLayer.push(arguments); }

      gtag('js', new Date());
      gtag('config', '{{gaTrackingId}}');
      
      function setCookie(name, value, days) {
        var expires = "";
        if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
          expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
      }

      function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) === ' ') c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
      }

      function applyGA() {
        gtag('consent', 'update', { 'ad_storage': 'granted', 'analytics_storage': 'granted' });
        gtag('js', new Date());
        gtag('config', '{{ gaTrackingId }}');
      }

      function denyGA() {
        gtag('consent', 'update', { 'ad_storage': 'denied', 'analytics_storage': 'denied' });
      }

      document.addEventListener("DOMContentLoaded", function() {
      var acceptButton = document.getElementById("acceptButton");
      var rejectButton = document.querySelector(".govuk-button-group button[value='reject']");
      var cookieBanner = document.querySelector(".govuk-cookie-banner");

      acceptButton.addEventListener("click", function() {
        setCookie("cookieConsent", "true", 365);
        applyGA();
        cookieBanner.style.display = "none";
      });

      rejectButton.addEventListener("click", function() {
        setCookie("cookieConsent", "false", 365);
         denyGA();
        cookieBanner.style.display = "none";
      });

      var cookieConsent = getCookie("cookieConsent");

      if (cookieConsent === "true") {
        applyGA();
        cookieBanner.style.display = "none";
      }
      if (cookieConsent === "false") {
        denyGA();
        cookieBanner.style.display = "none";
      }
    });
    </script>
    
    {% if not hideCookieBanner %}
    <script nonce="{{ scriptNonce }}">
              var cookieSection = document.getElementById("cookieBannerSection");
              cookieSection.innerHTML = `
              <div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on Baby Loss Certificate">
                <div class="govuk-cookie-banner__message govuk-width-container">
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                      <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on Baby Loss Certificate</h2>
                      <div class="govuk-cookie-banner__content">
                        <p class="govuk-body">We use some essential cookies to make this service work.</p>
                        <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
                      </div>
                    </div>
                  </div>
                  <div class="govuk-button-group">
                    <button id="acceptButton" value="accept" type="button" name="cookies" class="govuk-button" data-module="govuk-button">
                      Accept analytics cookies
                    </button>
                    <button id="rejectButton" value="reject" type="button" name="cookies" class="govuk-button" data-module="govuk-button">
                      Reject analytics cookies
                    </button>
                    <a class="govuk-link govuk-link--no-visited-state" href="{{ contextPath }}/cookies" target="_blank">View cookies</a>
                  </div>
                </div>
              </div>
              `;
              </script>
    {% endif %}
    {% endblock %}
  </body>
</html>