{% extends "./layout.njk" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% if isUserBackOffice %}
    {% set navigationItems = [
    {
      href: certificateManagerHome,
      text: "Home"
    },
    {
      href: firstParentStartUrl,
      text: "Request (Non IDV)",
      active: journeyName == "MAINFLOW"
    },
    {
      href: crmServiceStart,
      text: "Search",
      active: journeyName == "CRM_FLOW"
    },
    {
      href: signoutUrl,
      text: "Sign out"
    }
  ] %}
{% else %}
    {% set navigationItems = [
    {
      href: certificateManagerHome,
      text: "Home"
    },
    {
      href: firstParentStartUrl,
      text: "Request (P1)",
      active: journeyName == "MAINFLOW"
    },
    {
      href: secondParentServiceStart,
      text: "Request (P2)",
      active: journeyName == "SECOND_PARENT_FLOW"
    },
    {
      href: crmServiceStart,
      text: "Search",
      active: journeyName == "CRM_FLOW"
    },
    {
      href: signoutUrl,
      text: "Sign out"
    }
  ] %}
{% endif %}

{% block header %}
{% if showServiceHeader %}
{% set serviceName = "BLC certificate manager" %}
{{ govukHeader({
  homepageUrl: "https://www.gov.uk/",
  serviceName: serviceName,
  serviceUrl: applicationStart,
  navigation: navigationItems
}) }}
{% else %}
  {% if not hideServiceLink %}
    {{ govukHeader({
      homepageUrl: "https://www.gov.uk/",
      serviceName: serviceName,
      serviceUrl: applicationStart,
      action: "Sign out",
      actionHref: "#"
    }) }}
  {% else %}

  {{ govukHeader({
      homepageUrl: "https://www.gov.uk/",
      serviceName: serviceName
    }) }}
  {% endif %}
{% endif %}
{% endblock %}

{% block beforeContent %}
{% if not isUserBackOffice %}
  {% set feedbackLink %}
    {% if journeyName == "SECOND_PARENT_FLOW" %}
      https://online1.snapsurveys.com/interview/ef283ec5-3d39-4daf-af0c-bebe42cde33e
    {% else %}
      https://online1.snapsurveys.com/interview/9d0696c0-7f71-4988-8c63-dba54b58e3ef
    {% endif %}
  {% endset %}

 {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link govuk-link--no-visited-state" href="' + feedbackLink + '" target="_blank">feedback</a> will help us to improve it.'
  }) }}
  {% else %}
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service – your feedback will help us to improve it.'
    }) }}
  {% endif %}
  {% block backlink %}{% endblock %}

{% endblock %}
{% block content %}{% endblock %}