{% extends "templates/page.njk" %}

{% block content %}

<h1 class="govuk-heading-xl">{{ pageContent.firstHeading }}</h1>
<p class="govuk-body">{{ pageContent.firstBody.firstLine }}</p>
<p class="govuk-body">{{ pageContent.firstBody.secondLine }}</p>
<ul class="govuk-list  govuk-list--bullet">
  <li>{{ pageContent.firstBody.firstListItems.firstItem }}</li>
  <li>{{ pageContent.firstBody.firstListItems.secondItem }}</li>
  <li>{{ pageContent.firstBody.firstListItems.thirdItem }}</li>
  <li>{{ pageContent.firstBody.firstListItems.fourthItem }}</li>
  <li>{{ pageContent.firstBody.firstListItems.fifthItem }}</li>
</ul>
<p class="govuk-body">{{ pageContent.firstBody.thirdLine }}</p>
<p class="govuk-body">{{ pageContent.firstBody.fourthLine | safe }}</p>

<h2 class="govuk-heading-l">{{ pageContent.secondHeading }}</h2>
<p class="govuk-body">{{ pageContent.secondBody.firstLine }}</p>
<ul class="govuk-list  govuk-list--bullet">
  <li>{{ pageContent.secondBody.firstListItems.firstItem }}</li>
  <li>{{ pageContent.secondBody.firstListItems.secondItem }}</li>
  <li>{{ pageContent.secondBody.firstListItems.thirdItem }}</li>
  <li>{{ pageContent.secondBody.firstListItems.fourthItem }}</li>
  <li>{{ pageContent.secondBody.firstListItems.fifthItem }}</li>
</ul>

<h2 class="govuk-heading-l">{{ pageContent.thirdHeading }}</h2>
<p class="govuk-body">{{ pageContent.thirdBody.firstLine }}</p>
<p class="govuk-body">{{ pageContent.thirdBody.secondLine | safe }}</p>
<p class="govuk-body">{{ pageContent.thirdBody.thirdLine }}</p>
<p class="govuk-body">{{ pageContent.thirdBody.fourthLine }}</p>

<h2 class="govuk-heading-l">{{ pageContent.fourthHeading }}</h2>
<p class="govuk-body">{{ pageContent.fourthBody.firstLine }}</p>
<p class="govuk-body">{{ pageContent.fourthBody.secondLine | safe }}</p>
<p class="govuk-body">{{ pageContent.fourthBody.thirdLine }}</p>

<h2 class="govuk-heading-l">{{ pageContent.fifthHeading }}</h2>
<p class="govuk-body">{{ pageContent.fifthBody.firstLine }}</p>
<p class="govuk-body">{{ pageContent.fifthBody.secondLine | safe  }}</p>

<h2 class="govuk-heading-l">{{ pageContent.sixthHeading }}</h2>
<p class="govuk-body">{{ pageContent.sixthBody.firstLine }}</p>
<p class="govuk-body">{{ pageContent.sixthBody.secondLine | safe }}</p>

<h2 class="govuk-heading-l">{{ pageContent.seventhHeading }}</h2>
<p class="govuk-body">{{ pageContent.seventhBody }}</p>

<h2 class="govuk-heading-m">{{ pageContent.eighthHeading }}</h2>
<p class="govuk-body">{{ pageContent.eighthBody | safe }}</p>

<h2 class="govuk-heading-l">{{ pageContent.ninthHeading }}</h2>
<p class="govuk-body">{{ pageContent.ninthBody }}</p>

<h3 class="govuk-heading-m">{{ pageContent.tenthHeading }}</h3>
<p class="govuk-body">{{ pageContent.tenthBody.firstLine }}</p>
<p class="govuk-body">{{ pageContent.tenthBody.secondLine }}</p>
<p class="govuk-body">{{ pageContent.tenthBody.thirdLine }}</p>
<p class="govuk-body">{{ pageContent.tenthBody.fourthLine }}</p>
<p class="govuk-body">{{ pageContent.tenthBody.fifthLine }}</p>
<p class="govuk-body">{{ pageContent.tenthBody.sixthLine }}</p>

<h2 class="govuk-heading-l">{{ pageContent.eleventhHeading }}</h2>
<p class="govuk-body">{{ pageContent.eleventhBody.firstLine }}</p>
<p class="govuk-body">{{ pageContent.eleventhBody.secondLine }}</p>

<h2 class="govuk-heading-l">{{ pageContent.twelfthHeading }}</h2>
<p class="govuk-body">{{ pageContent.twelfthBody.firstLine }}</p>
<p class="govuk-body">{{ pageContent.twelfthBody.secondLine }}</p>
<p class="govuk-body">{{ pageContent.twelfthBody.thirdLine }}</p>
<p class="govuk-body">{{ pageContent.twelfthBody.fourthLine }}</p>
<p class="govuk-body">{{ pageContent.twelfthBody.fifthLine }}</p>
<p class="govuk-body">{{ pageContent.twelfthBody.sixthLine }}</p>


{% endblock %}
