{% extends "templates/page.njk" %}
{%set useFullScreen = true%}
{% if isUserBackOffice %}
    {% set certificateManagerServices = [ {
                                         serviceURL: firstParentStartUrl,
                                         serviceTitleFirstLine: backOfficeFirstServiceTitle.firstLine,
                                         serviceTitleSecondLine: backOfficeFirstServiceTitle.secondLine
                                       },
                                       {
                                         serviceURL: crmServiceStart,
                                         serviceTitleFirstLine: backOfficeSecondServiceTitle.firstLine
                                       }] %}
{% else %}
    {% set certificateManagerServices = [ {
                                         serviceURL: firstParentStartUrl,
                                         serviceTitleFirstLine: ccsFirstServiceTitle.firstLine,
                                         serviceTitleSecondLine: ccsFirstServiceTitle.secondLine
                                       },
                                       {
                                         serviceURL: secondParentServiceStart,
                                         serviceTitleFirstLine: ccsSecondServiceTitle.firstLine,
                                         serviceTitleSecondLine: ccsSecondServiceTitle.secondLine
                                       },
                                       {
                                         serviceURL: crmServiceStart,
                                         serviceTitleFirstLine: ccsThirdServiceTitle.firstLine
                                       }] %}
{% endif %}
{% block content %}
<h1 class="govuk-heading-l">{{ heading }}</h1>
<ul class="govuk-grid-row govuk-card-group">
{% for service in certificateManagerServices %}
    <li class="govuk-grid-column-one-third govuk-card-group__item">

      <div class="govuk-card govuk-card--clickable">
        <div class="govuk-card__content">
          <h5 class="govuk-card__heading govuk-heading-m">
            <a class="govuk-card__link" href="{{ service.serviceURL }}">{{ service.serviceTitleFirstLine }}<br>{{service.serviceTitleSecondLine }}</a>
          </h5>

        </div>
      </div>

    </li>
    {% endfor %}
  </ul>

{% endblock %}