{% extends "templates/page.njk" %}

{% block content %}

<h1 class="govuk-heading-l">{{ heading }}</h1>

<h2 class="govuk-heading-m">{{ telephoneHeading }}</h2>

<p class="govuk-body">{{ telephoneBody.firstLine }}</p>
<p class="govuk-body">{{ telephoneBody.secondLine }}</p>
<p class="govuk-body">{{ telephoneBody.thirdLine }}</p>

<p class="govuk-body">
    <a id="call-charges-info-link" href="{{ telephoneCallChargesLink }}" class="govuk-link govuk-link--no-visited-state">{{ telephoneCallChargesText }}</a>
</p>

<h2 class="govuk-heading-m">{{ emailHeading }}</h2>

<p class="govuk-body">
    {{ emailTag }}
    <a id="email-contact" href="mailto:{{ emailContact }}" class="govuk-link govuk-link--no-visited-state">{{ emailContact }}</a>
</p>

<p class="govuk-body">{{ emailBody }}</p>

{% endblock %}