{% extends "templates/form.njk" %}

{% from "macros/cookie-table.njk"                         import cookieTable %}
{% from "govuk/components/notification-banner/macro.njk"  import govukNotificationBanner %}
{% from "govuk/components/radios/macro.njk"               import govukRadios %}
{% from "govuk/components/button/macro.njk"               import govukButton %}

{% block backlink %}{% endblock %}

{% block formContent %}

{% if savedCookies %}

  {{ govukNotificationBanner({
    id: "cookie-saved-notification-banner",
    type: "success",
    titleText: bannerTitle,
    text: bannerText
  }) }}

{% endif %}

<h1 class="govuk-heading-l">{{ whatAreCookiesHeading }}</h1>

<p class="govuk-body">{{ whatAreCookiesBody.firstLine }}</p>
<p class="govuk-body">{{ whatAreCookiesBody.secondLine }}</p>

<h2 class="govuk-heading-l">{{ essentialCookiesHeading }}</h2>

<p class="govuk-body">{{ essentialCookiesBody }}</p>

{{ cookieTable ({
  headers: essentialCookiesTableHeadings,
  rows: essentialCookiesTableRows
}) }}

<h2 class="govuk-heading-l">{{ analyticsCookiesHeading }}</h2>

<p class="govuk-body">{{ analyticsCookiesBody.firstLine }}</p>
<p class="govuk-body">{{ analyticsCookiesBody.secondLine }}</p>
<p class="govuk-body">{{ analyticsCookiesBody.thirdLine }}</p>

<ul class="govuk-list  govuk-list--bullet">
  <li>{{ analyticsCookiesBody.listItems.firstItem }}</li>
  <li>{{ analyticsCookiesBody.listItems.secondItem }}</li>
  <li>{{ analyticsCookiesBody.listItems.thirdItem }}</li>
</ul>

{{ cookieTable ({
  headers: analyticsCookiesTableHeadings,
  rows: analyticsCookiesTableRows
}) }}

<div id="cookieSection"></div>

<script nonce="{{ scriptNonce }}">
var cookieSection = document.getElementById("cookieSection");
cookieSection.innerHTML = `
{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "enable-analytics-cookies",
  fieldset: {
    legend: {
      html: enableAnalyticsCookies | safe
    }
  },
  value: cookies,
  items: [
    {
      value: "yes",
      text: yes
    },
    {
      value: "no",
      text: no
    }
  ]
}) }}

{{ govukButton({
  text: button
}) }}
`;
</script>


{% endblock %}
