{% extends "templates/page.njk" %}

{% block content %}

<h1 class="govuk-heading-l">{{ firstHeading }}</h1>
<p class="govuk-body">{{ firstBody.firstLine }}</p>
<p class="govuk-body">{{ firstBody.secondLine }}</p>

<h2 class="govuk-heading-m">{{ secondHeading }}</h2>
<p class="govuk-body">{{ secondBody.firstLine }}</p>
<p class="govuk-body">{{ secondBody.secondLine }}</p>
<p class="govuk-body">{{ secondBody.thirdLine | safe}}</p>

<h2 class="govuk-heading-m">{{ thirdHeading }}</h2>
<p class="govuk-body">{{ thirdBody.firstLine }}</p>
<p class="govuk-body">{{ thirdBody.secondLine }}</p>
<ul class="govuk-list  govuk-list--bullet">
  <li>{{ thirdBody.firstListItems.firstItem }}</li>
  <li>{{ thirdBody.firstListItems.secondItem }}</li>
  <li>{{ thirdBody.firstListItems.thirdItem }}</li>
  <li>{{ thirdBody.firstListItems.fourthItem }}</li>
</ul>
<p class="govuk-body">{{ thirdBody.thirdLine }}</p>
<ul class="govuk-list  govuk-list--bullet">
  <li>{{ thirdBody.secondListItems.firstItem }}</li>
</ul>
<p class="govuk-body">{{ thirdBody.fourthLine }}</p>
<ul class="govuk-list  govuk-list--bullet">
  <li>{{ thirdBody.thirdListItems.firstItem }}</li>
  <li>{{ thirdBody.thirdListItems.secondItem }}</li>
  <li>{{ thirdBody.thirdListItems.thirdItem }}</li>
  <li>{{ thirdBody.thirdListItems.fourthItem }}</li>
  <li>{{ thirdBody.thirdListItems.fifthItem }}</li>
</ul>
<p class="govuk-body">{{ thirdBody.fifthLine }}</p>
<p class="govuk-body">{{ thirdBody.sixthLine | safe}}</p>

<h2 class="govuk-heading-m">{{ fourthHeading }}</h2>
<p class="govuk-body">{{ fourthBody.firstLine }}</p>
<p class="govuk-body">{{ fourthBody.secondLine }}</p>

<h2 class="govuk-heading-m">{{ fifthHeading }}</h2>
<p class="govuk-body">{{ fifthBody }}</p>

<h2 class="govuk-heading-m">{{ sixthHeading }}</h2>
<p class="govuk-body">{{ sixthBody.firstLine }}</p>
<p class="govuk-body">{{ sixthBody.secondLine }}</p>
<ul class="govuk-list govuk-list--bullet">
  <li>{{ sixthBody.firstListItems.firstItem }}</li>
  <li>{{ sixthBody.firstListItems.secondItem }}</li>
  <li>{{ sixthBody.firstListItems.thirdItem }}</li>
  <li>{{ sixthBody.firstListItems.fourthItem }}</li>
  <li>{{ sixthBody.firstListItems.fifthItem }}</li>
  <li>{{ sixthBody.firstListItems.sixthItem }}</li>
</ul>
<p class="govuk-body">{{ sixthBody.thirdLine | safe}}</p>
<p class="govuk-body">{{ sixthBody.fourthLine | safe}}</p>
<p class="govuk-body">{{ sixthBody.fifthLine | safe}}</p>
<p class="govuk-body">{{ sixthBody.sixthLine }}</p>
<p class="govuk-body">{{ sixthBody.seventhLine }}</p>
<p class="govuk-body">{{ sixthBody.eighthLine }}</p>
<p class="govuk-body">{{ sixthBody.ninthLine }}</p>
<p class="govuk-body">{{ sixthBody.tenthLine }}</p>
<p class="govuk-body">{{ sixthBody.eleventhLine }}</p>
<p class="govuk-body">{{ sixthBody.twelfthLine }}</p>
<p class="govuk-body">{{ sixthBody.thirteenthLine }}</p>
<p class="govuk-body">{{ sixthBody.fourteenthLine }}</p>
<p class="govuk-body">{{ sixthBody.fifteenthLine }}</p>
<p class="govuk-body">{{ sixthBody.sixteenthLine | safe}}</p>

{% endblock %}