{% extends "templates/page.njk" %}

{% block content %}

<h1 class="govuk-heading-l">{{ firstHeading }}</h1>
<p class="govuk-body">{{ firstBody }}</p>

<h2 class="govuk-heading-m">{{ secondHeading }}</h2>
<p class="govuk-body">{{ secondBody.firstLine }}</p>
<p class="govuk-body">{{ secondBody.secondLine }}</p>

<ul class="govuk-list  govuk-list--bullet">
  <li>{{ secondBody.firstListItems.firstItem }}</li>
  <li>{{ secondBody.firstListItems.secondItem }}</li>
</ul>

<h2 class="govuk-heading-m">{{ thirdHeading }}</h2>
<p class="govuk-body">{{ thirdBody.firstLine }}</p>
<p class="govuk-body">{{ thirdBody.secondLine | safe }}</p>
<p class="govuk-body">{{ thirdBody.thirdLine }}</p>

<h2 class="govuk-heading-m">{{ fourthHeading }}</h2>
<p class="govuk-body">{{ fourthBody.firstLine }}</p>
<p class="govuk-body">{{ fourthBody.secondLine }}</p>

<h2 class="govuk-heading-m">{{ fifthHeading }}</h2>
<p class="govuk-body">{{ fifthBody }}</p>

<h2 class="govuk-heading-m">{{ sixthHeading }}</h2>
<p class="govuk-body">{{ sixthBody }}</p>

{% endblock %}