.search-card__container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.search-card {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #ccc;
    padding-top: 15px;
    column-gap: 20px;
    align-content: flex-start;
    text-size-adjust: 100%;
}

.search-card__name {
    flex-basis: 22rem;
    align-self: flex-start;
}

.search-card__address {
    flex-grow: 3;
    align-self: flex-start;
}

.govuk-\!-margin-bottom-3 {
    margin-bottom: 15px !important;
}

p, .govuk-body, .govuk-body-m {
    color: #0b0c0c;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 15px;
}

p {
    display: block;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

strong {
    font-weight: bold;
}

p, .govuk-body, .govuk-body-m {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
}

.govuk-\!-margin-bottom-1 {
    margin-bottom: 5px !important;
}

.search-card__status {
    align-self: flex-start;
    text-align: right;
}
.search-card__container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}


.search-card__copy{
    align-self: flex-start;
    text-align: right;
    display: block;
}

.search-copyTextArea {
    display: none;
    min-width: 23em;
    text-align: start;
}

.govuk-\!-font-size-14 {
    font-size: 12px !important;
    font-size: 0.75rem !important;
    line-height: 1.25 !important;
}
    .govuk-\!-margin-top-2 {
        margin-top: 10px !important;
    }

    .govuk-tag--grey {
        color: #383f43;
        background: #eeefef;
    }

    .govuk-tag--orange {
        color: #6e3619;
        background: #fcd6c3;
    }
    .search-copyButton {
        background-color: #eee;
        border: 1px solid black;
        padding: 5px;
        border-radius: 5px;
        height: 28px;
        width: 31.5px;
    }

