{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk"     import govukFieldset %}
{% from "govuk/components/radios/macro.njk"       import govukRadios %}
{% from "govuk/components/button/macro.njk"       import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block formContent %}

  {% call govukFieldset({
    legend: {
        text: heading,
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
    }
  }) %}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "add-another-parent",
      value: formData["add-another-parent"],
      items: [
        {
          value: "yes",
          text: yes
        },
        {
          value: "no",
          text: no
        }
      ],
      errorMessage: errors | getErrorForField('add-another-parent')
    }) }}

  {% endcall %}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}

{% endblock %}