{% extends "templates/form.njk" %}

{% from "macros/summary-list.njk"           import summaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block backlink %}{% endblock %}

{% block formContent %}

<h1 class="govuk-heading-l">{{ heading }}</h1>

<h2 class="govuk-heading-m">{{ yourDetails }}</h2>
{% if isUserBackOffice %}
    {{ summaryList({
        rows: backOfficeCheckYourDetails,
        change: change,
        contextPath: contextPath
    }) }}
{% else %}
    {{ summaryList({
        rows: checkYourDetails,
        change: change,
        contextPath: contextPath
    }) }}
{% endif %}


<h2 class="govuk-heading-m">{{ theirDetails }}</h2>
{% if isUserBackOffice %}
    {{ summaryList({
        rows: backOfficeCheckTheirDetails,
        change: change,
        contextPath: contextPath
    }) }}
{% else %}
    {{ summaryList({
        rows: checkTheirDetails,
        change: change,
        contextPath: contextPath
    }) }}
{% endif %}

<h2 class="govuk-heading-m">{{ certificateDetails }}</h2>

<h3 class="govuk-heading-s">{{ firstParent }}</h3>

{% if isUserBackOffice %}
    {{ summaryList({
        rows: backOfficeCheckFirstParent,
        change: change,
        contextPath: contextPath
    }) }}
{% else %}
    {{ summaryList({
        rows: checkFirstParent,
        change: change,
        contextPath: contextPath
    }) }}
{% endif %}

<h3 class="govuk-heading-s">{{ secondParent }}</h3>

{% if isUserBackOffice %}
    {{ summaryList({
        rows: backOfficeCheckSecondParent,
        change: change,
        contextPath: contextPath
    }) }}
{% else %}
    {{ summaryList({
        rows: checkSecondParent,
        change: change,
        contextPath: contextPath
    }) }}
{% endif %}


<h3 class="govuk-heading-s">{{ babyDetails }}</h3>

{{ summaryList({
    rows: checkBabyDetails,
    change: change,
    contextPath: contextPath
}) }}

{{ govukButton({
  text: button
}) }}

{% endblock %}