{% extends "templates/form.njk" %}

{% from "macros/summary-list.njk"           import summaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block backlink %}{% endblock %}

{% block formContent %}

<h1 class="govuk-heading-l">{{ heading }}</h1>

</br>

{{ summaryList({
    rows: details,
    change: change,
    contextPath: contextPath
}) }}

</br>


<p class="govuk-body">{{ body }}</p>

<ul class="govuk-list  govuk-list--bullet">
  <li>{{ list.firstItem }}</li>
  <li>{{ list.secondItem }}</li>
</ul>

{{ govukButton({
  text: button
}) }}

{% endblock %}