{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk"     import govukFieldset %}
{% from "govuk/components/radios/macro.njk"       import govukRadios %}
{% from "govuk/components/button/macro.njk"       import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block formContent %}

  {% call govukFieldset({
    legend: {
        text: heading,
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
    }
  }) %}

  {{ govukInsetText({
      text: insetText
  }) }}

  <p class="govuk-body"> {{ body.firstLine }} </p>

  {{ govukWarningText({
    text: body.warningOne,
    iconFallbackText: "Warning"
  }) }}

  <p class="govuk-body"> {{ body.secondLine }} </p>
  
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ body.firstListItem }}</li>
    <li>{{ body.secondListItem }}</li>
  </ul>

  <p class="govuk-body"> {{ body.thirdLine }} </p>
  <p class="govuk-body"> {{ body.fourthLine }} </p>
    
  {{ govukWarningText({
    text: body.warningTwo,
    iconFallbackText: "Warning"
  }) }}

  <p class="govuk-body"> {{ body.fifthLine }} </p>

  {% endcall %}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}

{% endblock %}