{% extends "templates/form.njk" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk"   import govukRadios %}
{% from "govuk/components/button/macro.njk"   import govukButton %}
{% from "macros/summary-list.njk"             import summaryList %}

{% block formContent %}

  {% call govukFieldset({
    legend: {
        text: heading,
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
    }
  }) %}

  <p class="govuk-body">{{ bodyLineOne }}</p>
  <p class="govuk-body">{{ bodyLineTwo }}</p>

  {{ summaryList({
      rows: details
  }) }}

  {% set confirmOptions = [{ value: "yes", text: yes }, { value: "no", text: no }] %}
  {% if alt %}
    {% set confirmOptions = (confirmOptions.push({ divider: or }), confirmOptions) %}
    {% set confirmOptions = (confirmOptions.push({ value: "alt", text: alt }), confirmOptions) %}
  {% endif %}

  {{ govukRadios({
    classes: "govuk-radios--inline",
    name: "confirm-your-address",
    value: formData["confirm-your-address"],
    fieldset: {
      legend: {
        text: questionHeading,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: confirmOptions,
    errorMessage: errors | getErrorForField('confirm-your-address')
  }) }}

  {% endcall %}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}

{% endblock %}