{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk"   import govukFieldset %}
{% from "govuk/components/input/macro.njk"      import govukInput %}
{% from "govuk/components/details/macro.njk"    import govukDetails %}
{% from "govuk/components/button/macro.njk"     import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block formContent %}

{% set dayClasses =  "govuk-input--width-2 govuk-input--error"  %}
{% set monthClasses =  "govuk-input--width-2 govuk-input--error" %}
{% set yearClasses =  "govuk-input--width-4 govuk-input--error" %}

{% if (errors | getErrorForField('date-of-birth-day')) or (errors | getErrorForField('date-of-birth')) %}
  {% set dayClasses = "govuk-input--width-2 govuk-input--error" %}
{% else %}
  {% set dayClasses = "govuk-input--width-2" %}
{% endif %}
{% if (errors | getErrorForField('date-of-birth-month')) or (errors | getErrorForField('date-of-birth')) %}
  {% set monthClasses = "govuk-input--width-2 govuk-input--error" %}
{% else %}
  {% set monthClasses = "govuk-input--width-2" %}
{% endif %}
{% if (errors | getErrorForField('date-of-birth-year')) or (errors | getErrorForField('date-of-birth')) %}
  {% set yearClasses = "govuk-input--width-4 govuk-input--error" %}
{% else %}
  {% set yearClasses = "govuk-input--width-4" %}
{% endif %}


{# set firstDateError #}
{% if errors | getErrorForField('date-of-birth') %}
  {% set firstDateError = errors | getErrorForField('date-of-birth') %}
{% elseif errors | getErrorForField('date-of-birth-day') %}
  {% set firstDateError = errors | getErrorForField('date-of-birth-day') %}
{% elseif errors | getErrorForField('date-of-birth-month') %}
  {% set firstDateError = errors | getErrorForField('date-of-birth-month') %}
{% elseif errors | getErrorForField('date-of-birth-year') %}
  {% set firstDateError = errors | getErrorForField('date-of-birth-year') %}
{% elseif errors | getErrorForField('date-of-birth') %}
  {% set firstDateError = errors | getErrorForField('date-of-birth') %}
{% endif %}

  <h1 class="govuk-heading-l">{{heading}}</h1>
   {% call govukFieldset({
 
   legend: {
       text: title,
       classes: "govuk-fieldset__legend--m",
       isPageHeading: true
     }
     }) %}

     {{ govukInput({
            id: "certificate-reference-number",
            name: "certificate-reference-number",
            classes: "govuk-!-width-two-thirds",
            value: formData["certificate-reference-number"],
            autocomplete: "off",
            hint: {
              text: hintRefNumber
            },
            label: {
              text: certificateNumber
            },
            errorMessage: errors | getErrorForField('certificate-reference-number')
        }) }}

    {{ govukInput({
        id: "first-name",
        name: "first-name",
        classes: "govuk-!-width-two-thirds",
        value: formData["first-name"],
        autocomplete: "off",
        label: {
          text: firstName
        },
        errorMessage: errors | getErrorForField('first-name')
    }) }}

    {{ govukInput({
      id: "last-name",
      name: "last-name",
      classes: "govuk-!-width-two-thirds",
      value: formData["last-name"],
      autocomplete: "off",
      label: {
        text: lastName
      },
      errorMessage: errors | getErrorForField('last-name')
    }) }}

   {{ govukDateInput({
       id: "date-of-birth",
       namePrefix: "date-of-birth",
       fieldset: {
           legend: {
               text: dob,
               isPageHeading: false,
               classes: "govuk-!-width-two-thirds"
           }
       },
       hint: {
           text: hintDOB
       },
       items: [
           {
               name: "day",
               label: day,
               value: formData["date-of-birth-day"],
               autocomplete: "off",
               classes: dayClasses
           },
           {
               name: "month",
               label: month,
               value: formData["date-of-birth-month"],
               autocomplete: "off",
               classes: monthClasses
           },
           {
               name: "year",
               label: year,
               value: formData["date-of-birth-year"],
               autocomplete: "off",
               classes: yearClasses
           }
       ],
       errorMessage: firstDateError
   }) }}

    {{ govukInput({
        id: "postcode",
        name: "postcode",
        classes: "govuk-!-width-two-thirds",
        value: formData["postcode"],
        autocomplete: "off",
        label: {
          text: postcode
        },
        errorMessage: errors | getErrorForField('postcode')
    }) }}

  {% endcall %}

  {{ govukButton({
    text: searchButton,
    preventDoubleClick: true
  }) }}
  {{ govukButton({
    text: resetFormButton,
    classes: "govuk-button govuk-button--secondary govuk-!-margin-top-0 govuk-!-margin-left-4",
    preventDoubleClick: true,
    name: "is-cleared",
    value: "true"
  }) }}
{% endblock %}