{% extends "templates/form.njk" %}

{% from "govuk/components/button/macro.njk"  import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

<div class="govuk-width-container ">
{% block formContent %}

<h1 class="govuk-heading-l tag-">Search results ({{ results.length }})</h1>

{# display searchDetails, make bold and join with 'and' #}

<script nonce="{{ scriptNonce }}">
function copyToClipboard(copyButtonId, copyTextId, copyIconId) {
  var copyButton = document.getElementById(copyButtonId);
  copyButton.addEventListener('click', function() {
    var copyText = document.getElementById(copyTextId);
    copyText.style.display = 'block';
    copyText.select();
    document.execCommand('copy');
    copyText.style.display = 'none';

    // Change the icon to a tick
    var copyIcon = document.getElementById(copyIconId);
    copyIcon.innerHTML = '<svg aria-hidden="true" class="octicon octicon-check js-clipboard-check-icon color-fg-success d-none m-2" data-view-component="true" height="16" version="1.1" viewBox="0 0 16 16" width="16">\n' +
      '  <path d="M13.78 4.22a.75.75 0 0 1 0 1.06l-7.25 7.25a.75.75 0 0 1-1.06 0L2.22 9.28a.751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018L6 10.94l6.72-6.72a.75.75 0 0 1 1.06 0Z"></path>\n' +
      '</svg>';

    // Optional: revert back to copy icon after a few seconds
    setTimeout(function() {
      copyIcon.innerHTML = '<svg id="copyIcon-0" data-view-component="true" height="16" version="1.1" viewBox="0 0 16 16" width="16">\n' +
        '  <path d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"></path>\n' +
        '  <path d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"></path>\n' +
        '</svg>';
    }, 2000);
  });
}
</script>
<p class="govuk-!-margin-bottom-1">
  {{ resultsPreamble }} 
  {% for item in searchDetails %}
    <strong>{{ item }}</strong>
    {% if not loop.last %} {{and}} {% endif %}
  {% endfor %}
</p>

  {% for result in results %}
    {% set buttonIndex = loop.index0 %}
    <div class="search-card">

      <div class="search-card__name">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">{{ result.fName }} {{ result.lName }}</h2>

        <p class="govuk-!-font-size-16 govuk-!-margin-bottom-3">{{ result.address }}</p>
        <p class="govuk-!-font-size-16 govuk-!-margin-bottom-1">DOB: {{ result.dob }}</p>
        <p class="govuk-!-font-size-16">Email: {{ result.email }}</p>
      </div>

      <div class="search-card__address">
        <p class="govuk-!-margin-bottom-3">Reference number: <strong>{{ result.refNumber }}</strong></p>
        <p class="govuk-!-margin-bottom-1">Year of loss: {{ result.lossYear }}</p>
      </div>

      <div class="search-card__status">
        <strong class="govuk-tag {{ 'govuk-tag--green' if result.status == 'sent' else ('govuk-tag--red' if result.status == 'rejected' or result.status == 'failed' else ('govuk-tag--blue' if result.status == 'incomplete' else 'govuk-tag--grey')) }}">{{ result.status }}</strong><br>
        <p class="govuk-!-font-size-14 govuk-!-margin-top-2">Submitted:<br> {{ result.submitted }}</p>
      </div>
      <div class="search-card__copy">
       <button id="copyButton-{{buttonIndex}}" class="search-copyButton" type="button">
       <svg id="copyIcon-{{buttonIndex}}" data-view-component="true" height="16" version="1.1" viewBox="0 0 16 16" width="16"><svg id="copyIcon-0" data-view-component="true" height="16" version="1.1" viewBox="0 0 16 16" width="16">
        <path d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"></path>
        <path d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"></path>
      </svg></svg>
      </button>
      <textarea rows="7" id="copyText-{{buttonIndex}}" class="search-copyTextArea">
      Reference number: {{ result.refNumber }}
      Name: {{ result.fName }} {{ result.lName }}
      DOB: {{ result.dob }}
      Email: {{ result.email }}
      Status: {{ result.status }}
      </textarea>
     <noscript>
     <style nonce="{{ scriptNonce }}">
         #copyText-{{buttonIndex}} {
         display: block!important;
       }
        #copyButton-{{buttonIndex}} {
        display: none!important;
      }
     </style>
     </noscript>
     </div>
    <script nonce="{{ scriptNonce }}">
        copyToClipboard('copyButton-{{buttonIndex}}', 'copyText-{{buttonIndex}}', 'copyIcon-{{buttonIndex}}');
     </script>
    </div>
  {% endfor %}

  <div class="govuk-!-margin-top-5">
    <p><strong>{{note}}</strong>
    </br>
    {{noteLineOne}}</p>
</div>

{% endblock %}