{% extends "templates/form.njk" %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk"     import govukButton %}

{% block formContent %}

{% set dayClasses =  "govuk-input--width-2 govuk-input--error"  %}
{% set monthClasses =  "govuk-input--width-2 govuk-input--error" %}
{% set yearClasses =  "govuk-input--width-4 govuk-input--error" %}

{% if (errors | getErrorForField('date-of-birth-day')) or (errors | getErrorForField('date-of-birth')) %}
  {% set dayClasses = "govuk-input--width-2 govuk-input--error" %}
{% else %}
  {% set dayClasses = "govuk-input--width-2" %}
{% endif %}
{% if (errors | getErrorForField('date-of-birth-month')) or (errors | getErrorForField('date-of-birth')) %}
  {% set monthClasses = "govuk-input--width-2 govuk-input--error" %}
{% else %}
  {% set monthClasses = "govuk-input--width-2" %}
{% endif %}
{% if (errors | getErrorForField('date-of-birth-year')) or (errors | getErrorForField('date-of-birth')) %}
  {% set yearClasses = "govuk-input--width-4 govuk-input--error" %}
{% else %}
  {% set yearClasses = "govuk-input--width-4" %}
{% endif %}

{# set firstError #}
{% if errors | getErrorForField('date-of-birth') %}
  {% set firstError = errors | getErrorForField('date-of-birth') %}
{% elseif errors | getErrorForField('date-of-birth-day') %}
  {% set firstError = errors | getErrorForField('date-of-birth-day') %}
{% elseif errors | getErrorForField('date-of-birth-month') %}
  {% set firstError = errors | getErrorForField('date-of-birth-month') %}
{% elseif errors | getErrorForField('date-of-birth-year') %}
  {% set firstError = errors | getErrorForField('date-of-birth-year') %}
{% elseif errors | getErrorForField('date-of-birth') %}
  {% set firstError = errors | getErrorForField('date-of-birth') %}
{% endif %}

{{ govukDateInput({
    id: "date-of-birth",
    namePrefix: "date-of-birth",
    fieldset: {
        legend: {
            text: heading,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
        }
    },
    hint: {
        text: hint
    },
    items: [
        {
            name: "day",
            label: day,
            value: formData["date-of-birth-day"],
            autocomplete: "off",
            classes: dayClasses
        },
        {
            name: "month",
            label: month,
            value: formData["date-of-birth-month"],
            autocomplete: "off",
            classes: monthClasses
        },
        {
            name: "year",
            label: year,
            value: formData["date-of-birth-year"],
            autocomplete: "off",
            classes: yearClasses
        }
    ],
    errorMessage: firstError
}) }}

{{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
}) }}

{% endblock %}