{% extends "templates/form.njk" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk"     import govukButton %}

{% block formContent %}

<h1 class="govuk-heading-l">{{ firstHeading }}</h1>
<p class="govuk-body">{{ firstBody.firstLine }}</p>
<p class="govuk-body">{{ firstBody.secondLine | safe }}</p>
<p class="govuk-body">{{ firstBody.thirdLine }}</p>
{% if firstBody.fourthLine %}
<p class="govuk-body">{{ firstBody.fourthLine }}</p>
{% endif %}

{{ govukCheckboxes({
  name: "applicantDeclaration",
  items: [
    {
      value: "agree",
      text: agree,
      checked: formData["applicantDeclaration"]
    }
  ],
  errorMessage: errors | getErrorForField('applicantDeclaration')
}) }}

{{ govukButton({
  text: button,
  preventDoubleClick: true
}) }}

{% endblock %}