{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk"   import govukFieldset %}
{% from "govuk/components/radios/macro.njk"     import govukRadios %}
{% from "govuk/components/button/macro.njk"     import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block formContent %}


  {% set yesHtml %}
    {{ govukInput({
      label: {
        text: body.emailAddress,
        classes: "govuk-label--md",
        isPageHeading: false
      },
      classes: "govuk-input--width-10",
      id: "applicant-email",
      name: "applicant-email",
      inputmode: "text",
      value: formData["applicant-email"],
      autocomplete: "off",
      spellcheck: false,
      errorMessage: errors | getErrorForField('applicant-email')
    }) }}

    {{ govukInput({
      label: {
        text: body.confirmEmailAddress,
        classes: "govuk-label--md",
        isPageHeading: false
      },
      classes: "govuk-input--width-10",
      id: "applicant-email-confirm",
      name: "applicant-email-confirm",
      inputmode: "text",
      value: formData["applicant-email-confirm"],
      autocomplete: "off",
      spellcheck: false,
      errorMessage: errors | getErrorForField('applicant-email-confirm')
    }) }}
  {% endset -%}

  {% call govukFieldset({
    legend: {
        text: heading,
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
    }
  }) %}

  {{ govukRadios({
    name: "applicant-add-email",
    value: formData["applicant-add-email"],
    items: [
      {
        value: "yes",
        text: yes,
        conditional: {
          html: yesHtml
        }
      },
      {
        value: "no",
        text: no
      }
    ],
    errorMessage: errors | getErrorForField('applicant-add-email')
  }) }}

  {% endcall %}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}

{% endblock %}