{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk"   import govukFieldset %}
{% from "govuk/components/input/macro.njk"      import govukInput %}
{% from "govuk/components/button/macro.njk"     import govukButton %}

{% block formContent %}
  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    {% if renderEmailBody %}
      <p class="govuk-body">{{ emailBodyFirstLine }}</p>
      <p class="govuk-body">{{ emailBodySecondLine }}</p>
    {% elif renderTextBody %}
      <p class="govuk-body">{{ textBody }}</p>
    {% endif %}

    {{ govukInput({
        id: "security-code",
        name: "security-code",
        classes: "govuk-!-width-two-thirds",
        autocomplete: "off",
        value: formData["security-code"],
        label: {
          text: securityCode
        },
        errorMessage: errors | getErrorForField('security-code')
    }) }}

  {% endcall %}

    <p class="govuk-body">{{ body | safe }}</p>

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}
{% endblock %}