{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk"   import govukFieldset %}
{% from "govuk/components/input/macro.njk"      import govukInput %}
{% from "govuk/components/button/macro.njk"     import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block formContent %}
  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    {{ govukInput({
        id: "reference-number",
        name: "reference-number",
        classes: "govuk-!-width-two-thirds",
        value: formData["reference-number"],
        autocomplete: "off",
        label: {
          text: referenceNumber
        },
        errorMessage: errors | getErrorForField('reference-number')
    }) }}

  {{ govukSelect({
    id: "reference-number-country",
    name: "reference-number-country",
    label: {
      text: countryOrigin
    },
    items: countryCodes['data']
  }) }}

  {% endcall %}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}
{% endblock %}