{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk"   import govukFieldset %}
{% from "govuk/components/input/macro.njk"      import govukInput %}
{% from "govuk/components/details/macro.njk"    import govukDetails %}
{% from "govuk/components/button/macro.njk"     import govukButton %}

{% block formContent %}
  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

  <p class="govuk-body">{{ hintTextOne }}</p>

    {{ govukInput({
        id: "sp-reference-number",
        name: "sp-reference-number",
        classes: "govuk-!-width-two-thirds",
        value: data["sp-reference-number"],
        hint: {
          text: hintTextTwo
        },
        label: {
          text: hintTextThree
        },
        autocomplete: "off",
        errorMessage: errors | getErrorForField('sp-reference-number')
    }) }}

  {% endcall %}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}
{% endblock %}