{% extends "templates/form.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}

  {{ govukRadios({
    classes: "govuk-radios--inline",
    name: "enter-location",
    value: formData["enter-location"],
    fieldset: {
      legend: {
        text: heading,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "yes",
        text: yes
      },
      {
        value: "no",
        text: no
      }
    ],
    errorMessage: errors | getErrorForField('enter-location')
  }) }}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}

{% endblock %}