{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk"   import govukRadios %}
{% from "govuk/components/button/macro.njk"   import govukButton %}
{% from "govuk/components/details/macro.njk"  import govukDetails %}

{% block formContent %}

  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    <p class="govuk-body">{{ bodyLineOne }}</p>
    <p class="govuk-body">{{ bodyLineTwo }}</p>

    {% set contactMethods = [] %}
    
    {% if renderEmailOption %}
      {% set contactMethods = (contactMethods.push({ value: "email", text: email }), contactMethods) %}
    {% endif %}

    {% if renderTextOption %}
      {% set contactMethods = (contactMethods.push({ value: "text", text: text }), contactMethods) %}
    {% endif %}

    {{ govukRadios({
      name: "security-code-method",
      value: formData["security-code-method"],
      items: contactMethods,
      errorMessage: errors | getErrorForField('security-code-method')
    }) }}

  {% endcall %}

  {{ govukDetails({
    summaryText: details,
    text: detailsReveal
  }) }}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}

{% endblock %}