{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk"   import govukFieldset %}
{% from "govuk/components/radios/macro.njk"     import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk"     import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block formContent %}

  {% set dayClasses = "govuk-input--width-2 govuk-input--error"  %}
  {% set monthClasses = "govuk-input--width-2 govuk-input--error" %}
  {% set yearClasses = "govuk-input--width-4 govuk-input--error" %}

  {% if (errors | getErrorForField('baby-date-of-loss-day')) or (errors | getErrorForField('baby-date-of-loss')) %}
    {% set dayClasses = "govuk-input--width-2 govuk-input--error" %}
  {% else %}
    {% set dayClasses = "govuk-input--width-2" %}
  {% endif %}
  {% if (errors | getErrorForField('baby-date-of-loss-month')) or (errors | getErrorForField('baby-date-of-loss')) %}
    {% set monthClasses = "govuk-input--width-2 govuk-input--error" %}
  {% else %}
    {% set monthClasses = "govuk-input--width-2" %}
  {% endif %}
  {% if (errors | getErrorForField('baby-date-of-loss-year')) or (errors | getErrorForField('baby-date-of-loss')) %}
    {% set yearClasses = "govuk-input--width-4 govuk-input--error" %}
  {% else %}
    {% set yearClasses = "govuk-input--width-4" %}
  {% endif %}

  {# set firstError #}
  {% if errors | getErrorForField('baby-date-of-loss') %}
    {% set firstError = errors | getErrorForField('baby-date-of-loss') %}
  {% elseif errors | getErrorForField('baby-date-of-loss-day') %}
    {% set firstError = errors | getErrorForField('baby-date-of-loss-day') %}
  {% elseif errors | getErrorForField('baby-date-of-loss-month') %}
    {% set firstError = errors | getErrorForField('baby-date-of-loss-month') %}
  {% elseif errors | getErrorForField('baby-date-of-loss-year') %}
    {% set firstError = errors | getErrorForField('baby-date-of-loss-year') %}
  {% elseif errors | getErrorForField('baby-date-of-loss') %}
    {% set firstError = errors | getErrorForField('baby-date-of-loss') %}
  {% endif %}

  {% set yesHtml %}
  {{ govukDateInput({
      id: "baby-date-of-loss",
      namePrefix: "baby-date-of-loss",
      fieldset: {
        legend: {
          text: legend,
          isPageHeading: false,
          classes: "govuk-fieldset__legend--md"
        }
      },
      hint: {
          text: hintLineTwo
      },
      items: [
        {
          name: "day",
          label: day,
          value: formData["baby-date-of-loss-day"],
          autocomplete: "off",
          classes: dayClasses
        },
        {
          name: "month",
          label: month,
          value: formData["baby-date-of-loss-month"],
          autocomplete: "off",
          classes: monthClasses
        },
        {
          name: "year",
          label: year,
          value: formData["baby-date-of-loss-year"],
          autocomplete: "off",
          classes: yearClasses
        }
      ],
      errorMessage: firstError
    }) }}
  {% endset -%}

  {% call govukFieldset({
    legend: {
        text: heading,
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
    }
  }) %}

  <div class="govuk-inset-text">
    <div>{{insetTextLineOne}}</div>
    <div>{{insetTextLineTwo}}</div>
  </div>

  {{ govukRadios({
    name: "include-baby-date-of-loss",
    value: formData["include-baby-date-of-loss"],
    hint: {
          text: hintLineOne
    },
    items: [
      {
        value: "yes",
        text: yes,
        conditional: {
          html: yesHtml
        }
      },
      {
        value: "no",
        text: no
      },
      {
        divider: or
      },
      {
        value: "unknown",
        text: unknown
      }
    ],
    errorMessage: errors | getErrorForField('include-baby-date-of-loss')
  }) }}

  {% endcall %}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}

{% endblock %}