{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk"   import govukFieldset %}
{% from "govuk/components/radios/macro.njk"     import govukRadios %}
{% from "govuk/components/input/macro.njk"      import govukInput %}
{% from "govuk/components/button/macro.njk"     import govukButton %}

{% block formContent %}

{% set yesHtml %}
  {{ govukInput({
      id: "baby-name",
      name: "baby-name",
      classes: "govuk-!-width-full",
      value: formData["baby-name"],
      label: {
        text: label
      },
      autocomplete: "off",
      errorMessage: errors | getErrorForField('baby-name')
  }) }}
{% endset -%}

{% call govukFieldset({
  legend: {
    text: heading,
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
  }
}) %}

  <p class="govuk-body">{{ bodyLineOne }}</p>
  <p class="govuk-body">{{ bodyLineTwo }}</p>
  <p class="govuk-hint">{{ hintLineOne }}</p>

  {{ govukRadios({
    name: "include-baby-name",
    value: formData["include-baby-name"],
    items: [
      {
        value: "yes",
        text: yes,
        conditional: {
          html: yesHtml
        }
      },
      {
        value: "no",
        text: no
      }
    ],
    errorMessage: errors | getErrorForField('include-baby-name')
  }) }}

{% endcall %}

{{ govukButton({
  text: continueButtonText,
  preventDoubleClick: true
}) }}

{% endblock %}