{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk"   import govukRadios %}
{% from "govuk/components/button/macro.njk"   import govukButton %}

{% block formContent %}

  {% call govukFieldset({
    legend: {
        text: heading,
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
    }
  }) %}

  <p class="govuk-body">{{ bodyLineOne }}</p>
  <p class="govuk-hint">{{ hintLineOne }}</p>

    {{ govukRadios({
      name: "include-baby-sex",
      value: formData["include-baby-sex"],
      items: [
        {
          value: "yes",
          text: yes
        },
        {
          value: "no",
          text: no
        },
        {
            divider: or
        },
        {
          value: "unknown",
          text: unknown
        }
      ],
      errorMessage: errors | getErrorForField('include-baby-sex')
    }) }}

  {% endcall %}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}

{% endblock %}