{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk"   import govukRadios %}
{% from "govuk/components/button/macro.njk"   import govukButton %}
{% from "govuk/components/details/macro.njk"  import govukDetails %}

{% block formContent %}

  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    <p class="govuk-body">{{ bodyLineOne }}</p>
    <p class="govuk-body">{{ bodyLineTwo }}</p> 

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">{{whereToFindNhsNumberSummary}}</span>
      </summary>
      <div class="govuk-details__text">
        <p>{{ whereToFindNhsNumberText1 | safe }}</p>
        <p>{{ whereToFindNhsNumberText2 | safe }}</p>
        <p>{{ whereToFindNhsNumberText3 | safe }}</p>
        <p>{{ whereToFindNhsNumberText4 | safe }}</p>
      </div>
    </details>

    {{ govukRadios({
      name: "know-your-nhs-number",
      value: formData["know-your-nhs-number"],
      items: [
        {
          value: "yes",
          text: yes
        },
        {
          value: "no",
          text: no
        }
      ],
      errorMessage: errors | getErrorForField('know-your-nhs-number')
    }) }}

  {% endcall %}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}

{% endblock %}