{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk"   import govukFieldset %}
{% from "govuk/components/input/macro.njk"     import govukInput %}
{% from "govuk/components/button/macro.njk"     import govukButton %}

{% block formContent %}

  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    {{ govukInput({
      label: {
        text: addressLineOne
      },
      classes: "govuk-!-width-full",
      id: "address-line-1-ccs",
      name: "address-line-1-ccs",
      value: formData["address-line-1-ccs"],
      autocomplete: "off",
      errorMessage: errors | getErrorForField('address-line-1-ccs')
    }) }}

    {{ govukInput({
      label: {
        text: addressLineTwo
      },
      classes: "govuk-!-width-full",
      id: "address-line-2-ccs",
      name: "address-line-2-ccs",
      value: formData["address-line-2-ccs"],
      autocomplete: "off",
      errorMessage: errors | getErrorForField('address-line-2-ccs')
    }) }}

    {{ govukInput({
      label: {
        text: townOrCity
      },
      classes: "govuk-!-width-two-thirds",
      id: "address-line-3-ccs",
      name: "address-line-3-ccs",
      value: formData["address-line-3-ccs"],
      autocomplete: "off",
      errorMessage: errors | getErrorForField('address-line-3-ccs')
    }) }}

    {{ govukInput({
      label: {
        text: county
      },
      classes: "govuk-!-width-two-thirds",
      id: "address-line-4-ccs",
      name: "address-line-4-ccs",
      value: formData["address-line-4-ccs"],
      autocomplete: "off",
      errorMessage: errors | getErrorForField('address-line-4-ccs')
    }) }}

    {{ govukInput({
      label: {
        text: postcode
      },
      classes: "govuk-!-width-two-thirds",
      id: "postcode-ccs",
      name: "postcode-ccs",
      value: formData["postcode-ccs"],
      autocomplete: "off",
      errorMessage: errors | getErrorForField('postcode-ccs')
    }) }}
  
  {% endcall %}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}

{% endblock %}
