{% extends "./templates/page.njk" %}

{% from "macros/support-organisations-list.njk" import supportOrgsList %}
{% from "govuk/components/button/macro.njk"     import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block backlink %}
  {{ govukBackLink({
    href: previous,
    text: backLinkText
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ heading }}</h1>

  {% if bodyLineOne %}
    <p class="govuk-body">{{ bodyLineOne | safe}}</p>
  {% endif %}
  
  {% if bodyLineTwo %}
    <p class="govuk-body">{{ bodyLineTwo | safe}}</p>
  {% endif %}

  {% if bodyLineThree %}
    <p class="govuk-body">{{ bodyLineThree | safe }}</p>
  {% endif %}

  {% if supportOrganisationsHeading %}
    <h2 class="govuk-heading-m">{{ supportOrganisationsHeading }}</h2>

    <p class="govuk-body">{{ supportOrganisationsBody }}</p>

    {{ supportOrgsList({
      list: supportOrganisationsList
    }) }}
  {% endif %}
{% endblock %}