{% extends "templates/form.njk" %}

{% from "macros/support-organisations-list.njk" import supportOrgsList %}
{% from "govuk/components/button/macro.njk"     import govukButton %}

{% block backlink %}
  {{ govukBackLink({
    href: previous,
    text: backLinkText
  }) }}
{% endblock %}

{% block formContent %}
  <h1 class="govuk-heading-l">{{ heading }}</h1>

  <p class="govuk-body">{{ bodyLineOne | safe}}</p>

  <p class="govuk-body">{{ bodyLineTwo | safe}}</p>

  <p class="govuk-body">{{ bodyLineThree | safe }}</p>

  {{ govukButton({
    text: tryAgainButton,
    preventDoubleClick: true
  }) }}
{% endblock %}