{% extends "templates/form.njk" %}

{% from "govuk/components/radios/macro.njk"  import govukRadios %}
{% from "govuk/components/button/macro.njk"  import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block formContent %}

  {{ govukRadios({
    classes: "govuk-radios--inline",
    name: "reference-number-type",
    value: formData["reference-number-type"],
    fieldset: {
      legend: {
        text: heading,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: help
    },
    items: [
      {
        value: "passport",
        text: passport
      },
      {
        value: "birthCertificate",
        text: birthCertificate
      },
      {
        value: "eeaMemberCard",
        text: eeaMemberCard
      },
      {
        value: "drivingLicence",
        text: drivingLicence
      },
      {
        value: "oldDrivingLicence",
        text: oldDrivingLicence
      },
      {
        value: "photoRegistration",
        text: photoRegistration
      },
      {
        value: "benefitBook",
        text: benefitBook
      },
      {
        value: "residencePermit",
        text: residencePermit
      },
      {
        value: "nationalIdentity",
        text: nationalIdentity
      }
    ],
    errorMessage: errors | getErrorForField('reference-number-type')
  }) }}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}

{% endblock %}