{% extends "templates/form.njk" %}

{% from "govuk/components/radios/macro.njk"     import govukRadios %}
{% from "govuk/components/button/macro.njk"     import govukButton %}

{% block formContent %}

{{ govukRadios({
    name: "relation-to-baby",
    value: formData["relation-to-baby"],
    hint: {
        text: hintLineOne
    },
    fieldset: {
        legend: {
            text: heading,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
        }
    },
    items: [
        {
            value: "Mother",
            text: mother
        },
        {
            value: "Father",
            text: father
        },
        {
            value: "Parent",
            text: parent
        },
        {
            value: "Surrogate",
            text: surrogate
        },
        {
            divider: or
        },
        {
            value: "None",
            text: noneOfTheAbove
        }
    ],
    errorMessage: errors | getErrorForField('relation-to-baby')
}) }}

{{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
}) }}

{% endblock %}