{% extends "templates/page.njk" %}

{% from "govuk/components/panel/macro.njk"      import govukPanel %}
{% from "macros/support-organisations-list.njk" import supportOrgsList %}

{% block content %}

{% if pendingSecondParent %}
  {{ govukPanel({
      titleText: requestPending,
      html: yourReference
  }) }}
{% else %}
  {{ govukPanel({
      titleText: requestComplete,
      html: yourReference
  }) }}
{% endif %}

<h2 class="govuk-heading-m"> {{ whatHappensNextHeading }} </h2>

{% if pendingSecondParent %}
  <p class="govuk-body">{{ pendingWhatHappensNextLineOne }}</p>
  <p class="govuk-body">{{ pendingWhatHappensNextLineTwo }}</p>
  <p class="govuk-body">{{ pendingWhatHappensNextLineThree | safe }}</p>
{% else %}
  <p class="govuk-body">{{ whatHappensNextLineOne }}</p>
  <p class="govuk-body">{{ whatHappensNextLineTwo | safe }}</p>
{% endif %}

<h3 class="govuk-heading-s">{{ supportOrganisationsHeading }}</h3>

<p class="govuk-body">{{ supportOrganisationsBody }}</p>

{{ supportOrgsList({
    list: supportOrganisationsList
}) }}

<p class="govuk-body">{{ link | safe }}</p>

{% endblock %}