{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk"   import govukFieldset %}
{% from "govuk/components/select/macro.njk"     import govukSelect %}
{% from "govuk/components/button/macro.njk"     import govukButton %}

{% block formContent %}
  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    <p class="govuk-body">{{ postcode }}</p>
    <p class="govuk-body">{{ formData.sanitisedPostcodeCcs | upper }} <a href="{{contextPath}}/lookup-postcode" class="govuk-link" id="postcode-change-link">{{ change }}</a></p>

    <p class="govuk-hint">{{ hint }}</p>

    {{ govukSelect({
      id: "selected-address",
      name: "selected-address",
      label: {
        text: "Selected address"
      },
      items: addresses,
      classes: "govuk-!-width-full",
      errorMessage: errors | getErrorForField('selected-address')
    }) }}

    <p class="govuk-body">
      <a id="address-not-listed-link" class="govuk-link govuk-link--no-visited-state" href='{{contextPath}}/enter-your-address'>{{ addressNotListed }}</a>
    </p>
  
  {% endcall %}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}

{% endblock %}
