{% extends "templates/form.njk" %}

{% from "govuk/components/radios/macro.njk"   import govukRadios %}
{% from "govuk/components/button/macro.njk"   import govukButton %}

{% block formContent %}

  {{ govukRadios({
    classes: "govuk-radios--inline",
    name: "baby-sex",
    value: formData["baby-sex"],
    fieldset: {
      legend: {
        text: heading,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "Male",
        text: male
      },
      {
        value: "Female",
        text: female
      }
    ],
    errorMessage: errors | getErrorForField('baby-sex')
  }) }}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}

{% endblock %}