{% extends "templates/form.njk" %}

{% from "macros/summary-list.njk"           import summaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk"  import govukRadios %}


{% block backlink %}{% endblock %}

{% block formContent %}

<h1 class="govuk-heading-l">{{ heading }}</h1>

<h2 class="govuk-heading-s">{{ firstParent }}</h2>

{{ summaryList({
    rows: checkFirstParent
}) }}

<br/>
<br/>
<h2 class="govuk-heading-s">{{ secondParent }}</h2>

{{ summaryList({
    rows: checkSecondParent
}) }}

<br/>
<br/>
<h2 class="govuk-heading-s">{{ babyDetails }}</h2>

{{ summaryList({
    rows: checkBabyDetails
}) }}

{{ govukRadios({
    classes: "govuk-radios--inline",
    name: "are-details-correct",
    value: formData["are-details-correct"],
    fieldset: {
      legend: {
        text: areDetailsCorrect,
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "yes",
        text: yes
      },
      {
        value: "no",
        text: no
      }
    ],
    errorMessage: errors | getErrorForField('are-details-correct')
  }) }}

{{ govukButton({
  text: button
}) }}

{% endblock %}