{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk"   import govukRadios %}
{% from "govuk/components/button/macro.njk"   import govukButton %}
{% from "govuk/components/details/macro.njk"  import govukDetails %}

{% block formContent %}

  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    <p class="govuk-body">{{ bodyLineOne }}</p>

    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "cancel-application",
      value: formData["cancel-application"],
      items: [
        {
          value: "yes",
          text: yes
        },
        {
          value: "no",
          text: no
        }
      ],
      errorMessage: errors | getErrorForField('cancel-application')
    }) }}

  {% endcall %}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}

{% endblock %}