{% extends "templates/form.njk" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk"     import govukButton %}

{% block formContent %}

<h1 class="govuk-heading-l">{{ body.heading }}</h1>
<p class="govuk-body">{{ body.firstLine }}</p>
<p class="govuk-body">{{ body.secondLine | safe }}</p>
<p class="govuk-body">{{ body.thirdLine }}</p>
<p class="govuk-body">{{ body.fourthLine }}</p>

{{ govukCheckboxes({
  name: "declaration",
  items: [
    {
      value: "agree",
      text: body.checkbox,
      checked: formData["declaration"]
    }
  ],
  errorMessage: errors | getErrorForField('declaration')
}) }}

{{ govukButton({
  text: body.button,
  preventDoubleClick: true
}) }}

{% endblock %}