{% extends "templates/page.njk" %}

{% from "govuk/components/panel/macro.njk"      import govukPanel %}
{% from "macros/support-organisations-list.njk" import supportOrgsList %}

{% block content %}

{{ govukPanel({
    titleText: spRequestComplete,
    html: yourReference
}) }}

<h2 class="govuk-heading-m"> {{ whatHappensNext.heading }} </h2>
<p class="govuk-body">{{ whatHappensNext.firstLine }}</p>
<p class="govuk-body">{{ whatHappensNext.secoondLine }}</p>
<p class="govuk-body">{{ whatHappensNext.thirdLine | safe }}</p>

<h3 class="govuk-heading-s">{{ supportOrganisations.heading }}</h3>
<p class="govuk-body">{{ supportOrganisations.body }}</p>

{{ supportOrgsList({
    list: supportOrganisations.listItems
}) }}

<p class="govuk-body">{{ link | safe }}</p>


{% endblock %}