{% extends "./templates/page.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link govuk-link--no-visited-state" href="https://online1.snapsurveys.com/interview/ef283ec5-3d39-4daf-af0c-bebe42cde33e" target="_blank">feedback</a> will help us to improve it.'
  }) }}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "https://www.gov.uk/"
    },
    {
      text: "Childcare and parenting",
      href: "https://www.gov.uk/browse/childcare-parenting"
    },
    {
      text: "Pregnancy and birth",
      href: "https://www.gov.uk/browse/childcare-parenting/pregnancy-birth"
    },
    {
      text: "Request a baby loss certificate"
    }
  ]
}) }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">{{ heading }}</h1>
    <p class="govuk-body">{{ bodyLineOne }}</p>
    <p class="govuk-body">{{ bodyLineTwo }}</p>

    <h2 class="govuk-heading-l">{{ requestACertificateHeading }}</h2>

    <p class="govuk-body">{{ requestACertificateLineOne }}</p>
    <p class="govuk-body">{{ requestACertificateLineTwo }}</p>
    <p class="govuk-body">{{ requestACertificateLineThree }}</p>
    <p class="govuk-body">{{ requestACertificateLineFour | safe }}</p>
    <p class="govuk-body">{{ requestACertificateLineFive }}</p>

    <h2 class="govuk-heading-l">{{ aboutTheCertificateHeading }}</h2>

    {{ govukInsetText({
      text: aboutTheCertificateInsetText
    }) }}

    <p class="govuk-body">{{ aboutTheCertificateLineOne }}</p>
    <ul class="govuk-list  govuk-list--bullet">
      <li>{{ aboutTheCertificateListItemOne }}</li>
      <li>{{ aboutTheCertificateListItemTwo }}</li>
      <li>{{ aboutTheCertificateListItemThree }}</li>
      <li>{{ aboutTheCertificateListItemFour }}</li>
      <li>{{ aboutTheCertificateListItemFive}}</li>
      <li>{{ aboutTheCertificateListItemSix}}</li>
    </ul>
    <p class="govuk-body">{{ aboutTheCertificateLineTwo }}</p>
    <p class="govuk-body">{{ aboutTheCertificateLineThree }}</p>

    <h2 class="govuk-heading-m">{{ beforeYouStartHeading }}</h2>

    <p class="govuk-body">{{ beforeYouStartLineOne }}</p>
    <ul class="govuk-list  govuk-list--bullet">
      <li>{{ beforeYouStartListItemOne }}</li>
      <li>{{ beforeYouStartListItemTwo }}</li>
      <li>{{ beforeYouStartListItemThree }}</li>
    </ul>

    {{ govukButton({
      id: "start-now-button",
      text: startNow,
      isStartButton: true,
      href: startPath
    }) }}

{% endblock %}