{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk"   import govukFieldset %}
{% from "govuk/components/input/macro.njk"      import govukInput %}
{% from "govuk/components/button/macro.njk"     import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block formContent %}
  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    <p class="govuk-hint">{{ hintLineOne }}</p>
    <p class="govuk-hint">{{ hintLineTwo }}</p>

    {{ govukInput({
        id: "nhs-number",
        name: "nhs-number",
        classes: "govuk-!-width-two-thirds",
        value: formData["nhs-number"],
        autocomplete: "off",
        label: {
          text: nhsNumber
        },
        errorMessage: errors | getErrorForField('nhs-number')
    }) }}

    {{ govukInsetText({
      text: insetText
    }) }}

  {% endcall %}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}
{% endblock %}