{% extends "./templates/page.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
{% if not isUserBackOffice %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link govuk-link--no-visited-state" href="https://online1.snapsurveys.com/interview/9d0696c0-7f71-4988-8c63-dba54b58e3ef" target="_blank">feedback</a> will help us to improve it.'
  }) }}
{% else %}
  {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service – your feedback will help us to improve it.'
  }) }}
{% endif %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "https://www.gov.uk/"
    },
    {
      text: "Childcare and parenting",
      href: "https://www.gov.uk/browse/childcare-parenting"
    },
    {
      text: "Pregnancy and birth",
      href: "https://www.gov.uk/browse/childcare-parenting/pregnancy-birth"
    },
    {
      text: "Request a baby loss certificate"
    }
  ]
}) }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">{{ heading }}</h1>
    <p class="govuk-body">{{ bodyLineOne }}</p>
    <p class="govuk-body">{{ bodyLineTwo }}</p>
    
    {{ govukInsetText({
      text: bodyLineThree
    }) }}

    <p class="govuk-body">{{ bodyLineFour }}</p>
    <p class="govuk-body">{{ bodyLineFive | safe }}</p>

    <h2 class="govuk-heading-l">{{ requestACertificateHeading }}</h2>

    <p class="govuk-body">{{ requestACertificateLineOne }}</p>
    <ul class="govuk-list  govuk-list--bullet">
      <li>{{ requestACertificateListItemOne }}</li>
      <li>{{ requestACertificateListItemTwo }}</li>
      <li>{{ requestACertificateListItemThree | safe }}</li>
      <li>{{ requestACertificateListItemFour }}</li>
      <li>{{ requestACertificateListItemFive}}</li>
      <li>{{ requestACertificateListItemSix}}</li>
    </ul>

    <p class="govuk-body">{{ requestACertificateLineTwo }}</p>
    <p class="govuk-body">{{ requestACertificateLineThree }}</p>

    <h2 class="govuk-heading-m">{{ beforeYouStartHeading }}</h2>

    <p class="govuk-body">{{ beforeYouStartLineOne }}</p>
    <ul class="govuk-list  govuk-list--bullet">
      <li>{{ beforeYouStartListItemOne }}</li>
      {% if beforeYouStartListItemTwo %}
        <li>{{ beforeYouStartListItemTwo }}</li>
      {% endif %}
      {% if beforeYouStartListItemThree %}
        <li>{{ beforeYouStartListItemThree }}</li>
      {% endif %}
    </ul>

    {% if beforeYouStartLineTwo %}
      <p class="govuk-body">{{ beforeYouStartLineTwo }}</p>
    {% endif %}

    {{ govukButton({
      id: "start-now-button",
      text: startNow,
      isStartButton: true,
      href: startPath
    }) }}

{% endblock %}