{% extends "templates/form.njk" %}

{% from "govuk/components/radios/macro.njk"     import govukRadios %}
{% from "govuk/components/button/macro.njk"     import govukButton %}

{% block formContent %}

{{ govukRadios({
  name: "their-relation-to-baby",
  value: formData["their-relation-to-baby"],
  hint: {
    text: hint
  },
  fieldset: {
    legend: {
      text: heading,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Mother",
      text: mother
    },
    {
      value: "Father",
      text: father
    },
    {
      value: "Parent",
      text: parent
    },
    {
      value: "Surrogate",
      text: surrogate
    }
  ],
  errorMessage: errors | getErrorForField('their-relation-to-baby')
}) }}

{{ govukButton({
  text: continueButtonText,
  preventDoubleClick: true
}) }}

{% endblock %}