{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk"   import govukFieldset %}
{% from "govuk/components/input/macro.njk"      import govukInput %}
{% from "govuk/components/details/macro.njk"    import govukDetails %}
{% from "govuk/components/button/macro.njk"     import govukButton %}

{% block formContent %}
  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    <p class="govuk-hint">{{ hint }}</p>

    {{ govukInput({
        id: "their-first-name",
        name: "their-first-name",
        classes: "govuk-!-width-two-thirds",
        value: formData["their-first-name"],
        label: {
          text: firstName
        },
        autocomplete: "off",
        errorMessage: errors | getErrorForField('their-first-name')
    }) }}

    {{ govukInput({
      id: "their-last-name",
      name: "their-last-name",
      classes: "govuk-!-width-two-thirds",
      value: formData["their-last-name"],
      label: {
        text: lastName
      },
      autocomplete: "off",
      errorMessage: errors | getErrorForField('their-last-name')
    }) }}

  {% endcall %}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}
{% endblock %}