{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk"   import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk"     import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block formContent %}

  {% set dayClasses =  "govuk-input--width-2 govuk-input--error"  %}
  {% set monthClasses =  "govuk-input--width-2 govuk-input--error" %}
  {% set yearClasses =  "govuk-input--width-4 govuk-input--error" %}

  {% if (errors | getErrorForField('their-date-of-birth-day')) or (errors | getErrorForField('their-date-of-birth')) %}
    {% set dayClasses = "govuk-input--width-2 govuk-input--error" %}
  {% else %}
    {% set dayClasses = "govuk-input--width-2" %}
  {% endif %}
  {% if (errors | getErrorForField('their-date-of-birth-month')) or (errors | getErrorForField('their-date-of-birth')) %}
    {% set monthClasses = "govuk-input--width-2 govuk-input--error" %}
  {% else %}
    {% set monthClasses = "govuk-input--width-2" %}
  {% endif %}
  {% if (errors | getErrorForField('their-date-of-birth-year')) or (errors | getErrorForField('their-date-of-birth')) %}
    {% set yearClasses = "govuk-input--width-4 govuk-input--error" %}
  {% else %}
    {% set yearClasses = "govuk-input--width-4" %}
  {% endif %}

  {# set firstError #}
  {% if errors | getErrorForField('their-date-of-birth') %}
    {% set firstError = errors | getErrorForField('their-date-of-birth') %}
  {% elseif errors | getErrorForField('their-date-of-birth-day') %}
    {% set firstError = errors | getErrorForField('their-date-of-birth-day') %}
  {% elseif errors | getErrorForField('their-date-of-birth-month') %}
    {% set firstError = errors | getErrorForField('their-date-of-birth-month') %}
  {% elseif errors | getErrorForField('their-date-of-birth-year') %}
    {% set firstError = errors | getErrorForField('their-date-of-birth-year') %}
  {% elseif errors | getErrorForField('their-date-of-birth') %}
    {% set firstError = errors | getErrorForField('their-date-of-birth') %}
  {% endif %}


  {% call govukFieldset({
    legend: {
        text: heading,
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
    }
  }) %}

  {{ govukDateInput({
      id: "their-date-of-birth",
      namePrefix: "their-date-of-birth",
      hint: {
          html: hint
      },
      items: [
          {
              name: "day",
              label: day,
              value: formData["their-date-of-birth-day"],
              autocomplete: "off",
              classes: dayClasses
          },
          {
              name: "month",
              label: month,
              value: formData["their-date-of-birth-month"],
              autocomplete: "off",
              classes: monthClasses
          },
          {
              name: "year",
              label: year,
              value: formData["their-date-of-birth-year"],
              autocomplete: "off",
              classes: yearClasses
          }
      ],
      errorMessage: firstError
  }) }}

  {% endcall %}

  {{ govukButton({
      text: continueButtonText,
      preventDoubleClick: true
  }) }}

{% endblock %}