{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk"     import govukFieldset %}
{% from "govuk/components/button/macro.njk"     import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block formContent %}
    {% call govukFieldset({
      legend: {
        text: heading,
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    }) %}

    <p class="govuk-body">{{ body.firstLine | safe }}</p>

    {{ govukInput({
      label: {
        text: body.emailAddress,
        classes: "govuk-label--md",
        isPageHeading: false
      },
      classes: "govuk-input-width-full",
      id: "their-email",
      name: "their-email",
      inputmode: "text",
      value: formData["their-email"],
      spellcheck: false,
      autocomplete: "off",
      errorMessage: errors | getErrorForField('their-email')
    }) }}

    {{ govukInput({
      label: {
        text: body.confirmEmailAddress,
        classes: "govuk-label--md",
        isPageHeading: false
      },
      classes: "govuk-input-width-full",
      id: "their-email-confirm",
      name: "their-email-confirm",
      inputmode: "text",
      value: formData["their-email-confirm"],
      spellcheck: false,
      autocomplete: "off",
      errorMessage: errors | getErrorForField('their-email-confirm')
    }) }}

  {% endcall %}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}

{% endblock %}