{% extends "templates/form.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block backlink %}{% endblock %}

{% block formContent %}

<h1 class="govuk-heading-l">{{ heading }}</h1>

<p class="govuk-body">{{ body.firstLine }}</p>
<p class="govuk-body">{{ body.secondLine | safe }}</p>

{{ govukButton({
    text: startAgain,
    href: serviceStart,
    isStartButton: true
}) }}

{% endblock %}