{% extends "templates/form.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block backlink %}{% endblock %}

{% block formContent %}

  <h1 class="govuk-heading-l">{{ heading }}</h1>

  <p class="govuk-body">{{ body }}</p>

  {{ govukButton({
    text: tryAgain,
    preventDoubleClick: true
  }) }}

{% endblock %}