{% extends "templates/form.njk" %}

{% from "govuk/components/radios/macro.njk"     import govukRadios %}
{% from "govuk/components/button/macro.njk"     import govukButton %}
{% from "govuk/components/fieldset/macro.njk"   import govukFieldset %}
{% from "govuk/components/input/macro.njk"      import govukInput %}


{% block formContent %}

{% set yesHtml %}

{{ govukInput({
  label: {
    text: legend,
    classes: "govuk-label--md",
    isPageHeading: false
  },
  classes: "govuk-input--width-4",
  hint: {
    text: hint
  },
  id: "year-of-loss",
  name: "year-of-loss",
  inputmode: "numeric",
  value: formData["year-of-loss"],
  autocomplete: "off",
  spellcheck: false,
  errorMessage: errors | getErrorForField('year-of-loss')
}) }}

{% endset -%}

 {% call govukFieldset({
    legend: {
        text: heading,
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
    }
  }) %}

{{ govukRadios({
  name: "loss-in-five-years",
  value: formData["loss-in-five-years"],
  items: [
    {
      value: "yes",
      text: yes,
      conditional: {
        html: yesHtml
      }
    },
    {
      value: "no",
      text: no
    }
  ],
  errorMessage: errors | getErrorForField('loss-in-five-years')
}) }}

{% endcall %}

{{ govukButton({
  text: continueButtonText,
  preventDoubleClick: true
}) }}

{% endblock %}
