{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk"   import govukFieldset %}
{% from "govuk/components/input/macro.njk"      import govukInput %}
{% from "govuk/components/details/macro.njk"    import govukDetails %}
{% from "govuk/components/button/macro.njk"     import govukButton %}

{% block formContent %}
  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    <p class="govuk-body">{{ body.firstLine }}</p>
    {% if firstParentFlow %}
      <p class="govuk-body">{{ body.secondLine }}</p>
    {% endif %}
    <p class="govuk-body">{{ body.thirdLine }}</p>

    {{ govukInput({
        id: "postcode",
        name: "postcode",
        classes: "govuk-!-width-one-third",
        label: {
            text: postcode
        },
        value: formData["postcode"],
        autocomplete: "off",
        errorMessage: errors | getErrorForField("postcode")
    }) }}

  {% endcall %}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}
{% endblock %}