{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk"   import govukFieldset %}
{% from "govuk/components/input/macro.njk"      import govukInput %}
{% from "govuk/components/details/macro.njk"    import govukDetails %}
{% from "govuk/components/button/macro.njk"     import govukButton %}

{% block formContent %}
  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    <p class="govuk-body">{{ body.firstLine }}</p>
    <p class="govuk-body">{{ body.secondLine }}</p>

    {{ govukInput({
        id: "postcode-ccs",
        name: "postcode-ccs",
        classes: "govuk-!-width-one-third",
        label: {
            text: postcode
        },
        value: formData["postcode-ccs"],
        autocomplete: "off",
        errorMessage: errors | getErrorForField("postcode-ccs")
    }) }}

    <p class="govuk-body">
        <a id="enter-address-manually-link" class="govuk-link govuk-link--no-visited-state" href='{{contextPath}}/enter-your-address'>{{ enterAddressManually }}</a>
    </p>

  {% endcall %}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}
{% endblock %}