{% extends "templates/form.njk" %}

{% from "govuk/components/fieldset/macro.njk"   import govukFieldset %}
{% from "govuk/components/input/macro.njk"      import govukInput %}
{% from "govuk/components/button/macro.njk"     import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block formContent %}
  {% call govukFieldset({
    legend: {
      text: heading,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

    <p class="govuk-body">{{ body }}</p>
    <p class="govuk-hint">{{ hint }}</p>

    {{ govukInput({
        id: "first-name",
        name: "first-name",
        classes: "govuk-!-width-two-thirds",
        value: formData["first-name"],
        label: {
          text: firstName
        },
        autocomplete: "off",
        errorMessage: errors | getErrorForField('first-name')
    }) }}

    {{ govukInput({
      id: "last-name",
      name: "last-name",
      classes: "govuk-!-width-two-thirds",
      value: formData["last-name"],
      label: {
        text: lastName
      },
      autocomplete: "off",
      errorMessage: errors | getErrorForField('last-name')
    }) }}

  {{ govukInsetText({
      text: insetTextLineOne
  }) }}

  {% endcall %}

  {{ govukButton({
    text: continueButtonText,
    preventDoubleClick: true
  }) }}
{% endblock %}