{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro cookieTable(params) %}

  {% set headings = [] %}

  {% for header in params.headers %}
    {%
      set heading = {
        text: header.name
      }
    %}

    {% set headings = (headings.push(heading), headings) %}
  {% endfor %}

  {% set cookies = [] %}

  {% for row in params.rows %}
    {%
      set cookie = [
        {
          text: row.name
        },
        {
          text: row.purpose
        },
        {
          text: row.expires
        }
      ]
    %}

    {% set cookies = (cookies.push(cookie), cookies) %}
  {% endfor %}

  {{ govukTable({
      head: headings,
      rows: cookies
  }) }}

{% endmacro %}