{% from "govuk/components/footer/macro.njk"   import govukFooter %}

{% macro footer(params) %}

  {% set links = [] %}

  {% for item in params.items %}
    {%
      set link = {
        href: firstParentContextPath + item.link,
        text: item.name,
        attributes: {
          id: item.id,
          target: "_blank"
        }
      }
    %}

    {% set links = (links.push(link), links) %}
  {% endfor %}

  {{ govukFooter({
    meta: {
      items: links
    }
  }) }}

{% endmacro %}