{% from "govuk/components/summary-list/macro.njk"   import govukSummaryList %}

{% macro summaryList(params) %}

  {% set safeRows = [] %}

  {% for rowData in params.rows %}
    {% set hideField = (rowData.change === "no" or rowData.change === "No" )%}

    {% if hideField %}
      {% set change = [] %}
    {% else %}
      {% set change = [
          {
            classes: "govuk-link--no-visited-state",
            href: params.contextPath + rowData.path,
            text: params.change,
            visuallyHiddenText: rowData.hidden
          }
        ]
      %}
    {% endif %}

    {% if not hideField %}
    {% set row = {
      key : {
        text: rowData.key
      },
      value: {
        text: rowData.value | nl2br | safe
      },
      actions: {
        items: change
      }
    } %}
    {% else %}
    {% set row = {
      key : {
        text: rowData.key
      },
      value: {
        text: rowData.value | nl2br | safe
      }
    } %}
    {% endif %}


    {% set safeRowsLength = safeRows.push(row) %}
  {% endfor %}

  {{ govukSummaryList({
    rows: safeRows
  }) }}

{% endmacro %}