{% macro supportOrgsList(params) %}

<p class="govuk-body">{{ params.body }}</p>

<ul class="govuk-list govuk-list--bullet">

  {% for item in params.list %}
    <li><a class="govuk-link govuk-link--no-visited-state" href={{ item.link }}>{{ item.name }}</a></li>
  {% endfor %}

</ul>

{% endmacro %}