{% extends "templates/page.njk" %}

{% block content %}

  <h1 class="govuk-heading-l">{{ heading }}</h1>
  
  <section class="govuk-section">
    <p class="govuk-body">{{ paragraphOne }}</p>
  </section>
  
{% endblock %}
