{% extends "templates/page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block content %}

  <h1 class="govuk-heading-l">{{ heading }}</h1>

  <section class="govuk-section">
    <p class="govuk-body">{{ body.firstLine }}</p>
    <p class="govuk-body">{{ body.secondLine }}</p>
    <p class="govuk-body">{{ body.thirdLine }}</p>

    {{ govukButton({
      text: startAgain,
      href: serviceStart,
      isStartButton: true
    }) }}
  </section>

{% endblock %}
